.main-container-products {
    display: flex;
    justify-content: space-between;
    position: static;
    position: relative;
    margin-top: -8.5%;
}

.products {
    width: 100%;
    height: 99vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    transition: all 0.42s;
}

.products:hover {
    cursor: pointer;
}

.main-image-products {
    height: 100vh;
    width: 100%;
}

.navigate-button-products {
    position: absolute;
    text-decoration: none;
    color: white;
    top: 50%;

    border: 1px solid white;
    padding: 1.5vmax;
    transition: 0.42s all;
}

.navigate-button-products:hover {
    background-color: white;
    color: black;
}