.product-details {
    display: flex;
    padding: 3vmax;
}

.image-container-product-details {
    overflow: hidden;
    margin-right: 3vmax;
}

.CarouselImage {
    max-width: 55vmax;
    max-height: 70vh;
}

.product-details-main {
    display: flex;
    flex-direction: column;
    margin-right: 3vmax;
    height: fit-content;
}

.user-actions-product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    border: 0.8px solid rgba(0, 0, 0, 0.72);
    padding: 0 10vmax 10vmax 10vmax;
}

.quantity-user-actions-product-details {
    display: flex;
    align-items: center;
}

.quantity-user-actions-product-details > p {
    border: 0.5px solid;
    padding: 5px;
    transition: 0.42s all;
}

.quantity-user-actions-product-details > p:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.72);
    color: white;
}

.selected-quantity-user-product-details {
    height: 24px;
    width: 45px;
}

.quantity-user-actions-product-details > p:first-child {
    border-right: none;
}

.quantity-user-actions-product-details > p:last-child {
    border-left: none;
}

.add-to-cart-button-product-details {
    text-decoration: none;
    color: black;
    border: 1.5px solid;
    padding: 1vmax;
    border-radius: 7%;

    transition: 0.42s all;

    position: relative;
    top: 7vmax;
}

.add-to-cart-button-product-details:hover {
    background-color: rgba(0, 0, 0, 0.72);
    color: white;
    cursor: pointer;
}


.reviewsHeading {
    color: #000000be;
    font: 500 1.4vmax "Roboto";
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}

.reviews {
    display: flex;
    overflow: auto;
  }
  
  .reviewCard {
    flex: none;
  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(56, 56, 56, 0.116);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
  }
  .reviewCard > img {
    width: 5vmax;
  }
  .reviewCard > p {
    color: rgba(0, 0, 0, 0.836);
    font: 600 0.9vmax "Roboto";
  }
  .reviewCardComment {
    color: rgba(0, 0, 0, 0.445);
    font: 300 0.8vmax cursive;
  }
  
  .noReviews {
    font: 400 1.3vmax "Gill Sans";
    text-align: center;
    color: rgba(0, 0, 0, 0.548);
  }