.product-details {
    display: flex;
    padding: 3vmax;
}

.image-container-product-details {
    overflow: hidden;
    margin-right: 3vmax;
}

.CarouselImage {
    max-width: 55vmax;
    max-height: 70vh;
}

.product-details-main {
    display: flex;
    flex-direction: column;
    margin-right: 3vmax;
    height: fit-content;
}

.user-actions-product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    border: 0.8px solid rgba(0, 0, 0, 0.72);
    padding: 0 10vmax 10vmax 10vmax;
}

.quantity-user-actions-product-details {
    display: flex;
    align-items: center;
}

.quantity-user-actions-product-details > p {
    border: 0.5px solid;
    padding: 5px;
    transition: 0.42s all;
}

.quantity-user-actions-product-details > p:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.72);
    color: white;
}

.selected-quantity-user-product-details {
    height: 24px;
    width: 45px;
}

.quantity-user-actions-product-details > p:first-child {
    border-right: none;
}

.quantity-user-actions-product-details > p:last-child {
    border-left: none;
}

.add-to-cart-button-product-details {
    text-decoration: none;
    color: black;
    border: 1.5px solid;
    padding: 1vmax;
    border-radius: 7%;

    transition: 0.42s all;

    position: relative;
    top: 7vmax;
}

.add-to-cart-button-product-details:hover {
    background-color: rgba(0, 0, 0, 0.72);
    color: white;
    cursor: pointer;
}